
.bgimage {
    height:100vh;
    background: url('pic.jpg'), url('back.jpg');
    background-size: 80%, 60%;
    background-repeat: no-repeat, repeat;
    background-position-x: center;
    
}
/* text css above hero image*/
.title {
    font-size: 4.5rem;
    color: purple;
}
.main_desc {
    font-size: 2rem;
    color: black;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    position: sticky;
    top: 0;
    background: black;
    color: white;
    padding: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav-list li {
    margin-left: 20px; /* Add margin between list items */
}

.nav-list li:first-child {
    margin-left: 0; /* No margin for the first list item */
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: green;
}